body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#board{
	font-size: 40px;
	text-align: center;
	justify-content: center;
}
#board:hover{
	outline: none;
}
.square{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

}
.square:hover{
	display: inline-block;
	justify-content: center;
	align-items: center;

  background-color:#f2f2; 
	outline: none;
}

.square:nth-child(1),.square:nth-child(2),.square:nth-child(3){
	border-top:none;
}
.square:nth-child(7),.square:nth-child(8),.square:nth-child(9){
	border-bottom:none;
}
.square:nth-child(1),.square:nth-child(4),.square:nth-child(7){
	border-right-color: blueviolet;
	border-left:none;
}
.square:nth-child(3),.square:nth-child(6),.square:nth-child(9){
	border-right:none;
	border-left-color:blueviolet;
}